<!doctype html>
<html lang="en">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# music: http://ogp.me/ns/music#">
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Broadcasting a world of radios while you walk.">
    <meta name="keywords" content="radio,streaming,music">
    <meta name="author" content="haberman">

    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta property="og:description" content="Broadcasting a world of radios while you walk." />
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.url %>" />
    <meta property="og:type" content="music.radio_station" />

    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display:400,700i&display=swap&subset=cyrillic,latin-ext,vietnamese"
        rel="stylesheet" crossorigin="anonymous">

    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    <canvas></canvas>
    <div id="wrapper">
        <section class="header">
            <div class="header-toogle">
                <input type="checkbox" id="header_checkbox">
                <label for="header_checkbox" class="toggle-icon">
                    <div class="toggle-bar diag-1"></div>
                    <div class="toggle-bar center"></div>
                    <div class="toggle-bar diag-2"></div>
                </label>
            </div>
            <div class="header-content flex center removed">
                <div class="dummy"></div>
                <ol class="conf-menu">
                    <li>
                        <fieldset class='conf-lang'>
                            <legend>Régionnalisation de l'écoute</legend>
                            <div>
                                <input id="conf_lang_fr" type="radio" name="lang" />
                                <label for="conf_lang_fr">Francophonie</label>
                                <input id="conf_lang_default" type="radio" name="lang" checked />
                                <label for="conf_lang_default">Monde entier</label>
                            </div>
                        </fieldset>
                    </li>
                    <li>
                        <fieldset class='conf-path'>
                            <legend>Distance entre les radios</legend>
                            <div>
                                <input id="conf_path_tiny" type="radio" name="path" />
                                <label for="conf_path_tiny">10m</label>
                                <input id="conf_path_short" type="radio" name="path" />
                                <label for="conf_path_short">50m</label>
                                <input id="conf_path_default" type="radio" name="path" checked />
                                <label for="conf_path_default">100m</label>
                                <input id="conf_path_long" type="radio" name="path" />
                                <label for="conf_path_long">200m</label>
                            </div>
                        </fieldset>
                    </li>
                </ol>
                <div class="dummy"></div>
            </div>
        </section>
        <section class="main flex center">
            <div class="dummy"></div>

            <div class="main-content circled shadowed">
                <button class="loading" type="button">
                    <span class="spinner"></span>
                </button>
                <div class="info-radio">
                    <h1 class="radio-name"></h1>
                    <p class="radio-emitter">
                        <span class="radio-freq"></span>
                        <span class="radio-band"></span>
                    </p>
                </div>
                <div class="info-geo">
                    <h1 class="geo-place"></h1>
                    <p class="geo-area"></p>
                </div>
                <div class="progress removed">
                    <div class="bar"></div>
                </div>
            </div>

            <div class="dummy"></div>
        </section>
        <section class="notifier hidden">
            <p class="info"></p>
        </section>
    </div>
</body>

</html>