/* >> GENERICS */

*, *:before, *:after {
    box-sizing: inherit;
    color: var(--color-front);
}

html {
    box-sizing: border-box;
    font-size: 13px;
    overflow: hidden;
    --size-small: 100px;
    --size-big: 500px;
    --toggle-width: 30px;
    --toggle-height: 18px;
    --toggle-weight: 3px;
    --spinner-size: 99px;
    --spinner-weight: 2px;
    --spinner-margin: 0;
    --spinner-speed: .5s;
    --color-shadow: rgba(0, 0, 0, .5);
    --color-front: #fff;
    --color-back: #000;
    --color-back-dimmed: #777;
    --color-front-overlay: rgba(255, 255, 255, .05);
    --color-back-overlay: rgba(0, 0, 0, .5);
    --transition-duration: .2s;
    --transition-timing-fn: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

html, body {
    height: 100%;
}

body {
    background: url("../img/bg-noise.png") transparent;
}

#wrapper {
    min-height: 100vh;
    position: relative;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    display: inline-block;
    outline: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

button:focus, button:active {
    outline: 0;
    border: 0;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    margin: 0;
    padding: 0;
    width: 100%;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

legend {
    margin: 0;
    padding: 0;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

/* ------------ */

.transparent {
    opacity: 0;
}

.hidden {
    visibility: hidden;
}

.removed {
    display: none !important;
}

.circled {
    padding: 0 !important;
    border-radius: 50%;
    width: var(--size-small);
    height: var(--size-small);
}

.shadowed {
    box-shadow: 0 5px 10px var(--color-shadow);
}

.flex {
    display: flex;
}

.flex.center {
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

/* << GENERICS */

/* HEADER */

section.header {
    display: block;
    position: fixed;
    z-index: 1;
    clip-path: circle(var(--toggle-width) at calc(100vw - var(--toggle-width)) calc(var(--toggle-height) + 5px));
    transition: clip-path var(--transition-duration) var(--transition-timing-fn);
}

section.header.expanded {
    clip-path: circle(100%);
}

.header-content {
    width: 100vw;
    height: 100vh;
    background: url("../img/bg-noise-invert.png") transparent;
    transition: opacity var(--transition-duration) var(--transition-timing-fn);
}

.header-toogle {
    position: absolute;
    margin: calc(var(--toggle-height)*.5) calc(var(--toggle-width)*.5) 0 0;
    top: 0;
    right: 0;
}

.toggle-icon {
    display: block;
    cursor: pointer;
    width: var(--toggle-width);
    height: var(--toggle-width);
}

.toggle-bar {
    width: 100%;
    height: var(--toggle-weight);
    background-color: var(--color-front);
}

.toggle-bar.center, .toggle-bar.diag-1, .toggle-bar.diag-2 {
    position: absolute;
    top: 50%;
}

.toggle-bar.center {
    transition-property: opacity, width, background-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-fn);
}

.toggle-bar.diag-1, .toggle-bar.diag-2 {
    transition-property: transform, margin-top, background-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-fn);
}

.toggle-bar.diag-1 {
    margin-top: calc(var(--toggle-height)*-.5);
}

.toggle-bar.diag-2 {
    margin-top: calc(var(--toggle-height)*.5);
}

#header_checkbox {
    display: none;
}

#header_checkbox:checked~.toggle-icon>.toggle-bar {
    background-color: var(--color-back);
}

#header_checkbox:checked~.toggle-icon>.center {
    width: 0;
    opacity: 0;
}

#header_checkbox:checked~.toggle-icon>.diag-1 {
    transform: rotate(135deg);
    margin-top: 0;
}

#header_checkbox:checked~.toggle-icon>.diag-2 {
    transform: rotate(-135deg);
    margin-top: 0;
}

.header-content {
    text-align: center;
}

.header-content h1, .conf-menu legend {
    margin-bottom: 5px;
    color: var(--color-back);
    font-family: 'Playfair Display', serif;
    font-size: 1.66rem;
}

.conf-menu li span {
    color: var(--color-back);
    font-family: 'Open Sans', sans-serif;
}

.conf-menu li:not(:first-child) {
    margin-top: 20px;
}

.conf-menu input[type='radio'] {
    display: none;
}

.conf-menu label {
    margin: 0 5px;
    cursor: pointer;
    color: var(--color-back-dimmed);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.11em;
}

.conf-menu input[type='radio']:checked+label {
    color: var(--color-back);
    font-weight: 700;
    text-decoration: underline
}

/* << HEADER */

/* >> MAIN */

section.main {
    height: 100vh;
}

.main-content {
    margin: 10px;
    background-color: var(--color-back-overlay);
    transition-property: width, height, padding;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-fn);
}

.main-content.pressed {
    background-color: var(--color-front-overlay) !important;
}

.main-content button {
    border-radius: 50%;
    transition: opacity var(--transition-duration) ease-in-out;
}

.main-content button.loading {
    background: no-repeat center/35% url("../img/icon-loading.svg") transparent;
}

.main-content button.marker {
    background: no-repeat center/35% url("../img/icon-marker.svg") transparent;
}

.main-content button.play {
    background: no-repeat center/35% url("../img/icon-play.svg") transparent;
}

.main-content button.antenna {
    background: no-repeat center/35% url("../img/icon-antenna.svg") transparent;
}

.spinner {
    display: block;
    border-radius: 50%;
    margin: var(--spinner-margin);
    height: var(--spinner-size);
    width: var(--spinner-size);
    border: none;
    border-top: var(--spinner-weight) solid #fff;
    border-right: var(--spinner-weight) solid transparent;
    animation: spinner-anim var(--spinner-speed) linear infinite;
    transition: opacity var(--transition-duration) ease-in-out;
}

.spinner.hidden {
    visibility: visible;
    border: var(--spinner-weight) solid #fff !important;
    animation: none;
}

@keyframes spinner-anim {
    to {
        transform: rotate(360deg);
    }
}

.main-content div[class^='info-'] {
    margin: 20px;
    line-height: 1.33;
    text-align: center;
}

.main-content .radio-name {
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    font-family: 'Playfair Display', serif;
}

.main-content .radio-emitter {
    font-family: 'Open Sans', sans-serif;
}

.main-content .info-geo {
    font-family: 'Playfair Display', serif;
}

.main-content .geo-place {
    font-size: 1.33rem;
}

.main-content .geo-area {
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
}

.main-content .progress {
    width: 100%;
    background-color: transparent
}

.main-content .progress>.bar {
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width var(--transition-duration) ease-out;
}

/* << MAIN */

/* >> NOTIFIER */

section.notifier {
    position: absolute;
    height: 40px;
    left: 0;
    right: 0;
    text-align: center;
    transition-property: opacity, margin-top;
    transition-duration: var(--transition-duration);
    transition-timing-function: ease-out;
}

.notifier>p {
    display: table;
    padding: 12px;
    margin: 0 auto;
    border-radius: 24px;
    border: 2px solid #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.notifier.tooltip {
    margin-top: -30px;
}

.notifier.tooltip>p::after {
    position: absolute;
    height: 12px;
    width: 12px;
    top: -6px;
    left: calc(50% - 6px);
    transform: rotate(45deg);
    content: "";
}

.notifier>p.info {
    border-color: #fff;
    background: repeat url('../img/bg-shootbox-info.png') transparent;
}

.notifier.notifier.tooltip>p.info::after {
    background: repeat url('../img/bg-shootbox-info.png') transparent;
}

.notifier>p.warn {
    border-color: #ffefb2;
    background: repeat url('../img/bg-shootbox-warn.png') transparent;
}

.notifier.notifier.tooltip>p.warn::after {
    background: repeat url('../img/bg-shootbox-warn.png') transparent;
}